chain/contract/target
chain/contract/ppass.js
chain/mychain
client/bin
client/build
client/target
client/src/bin
client/src/main/cpp/libs/argon2
client/src/main/cpp/libs/scrypt-jane
**/.project
**/.classpath
**/.settings
**/.gradle
