config
chain/contract/target
chain/contract/ppass.js
chain/mychain
client/bin
client/build
client/target
client/src/bin
client/src/main/cpp/libs/argon2
client/src/main/cpp/libs/tweetnacl
client/src/main/cpp/libs/scrypt-jane
client/src/gen/java/one/id0/ppass/gen/PPassNetwork.java
client/PPassCache.db
client/ServerKey.b64
webextension/popup/base64js/base64js.js
webextension/popup/tweetnacl/tweetnacl.js
**/.project
**/.classpath
**/.settings
**/.gradle
export
